# Logs
logs
*.log

# Temp files
temp*
tmp*
deleteme*

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# local env variables
.env

# truffle build directory
build/

# macOS
.DS_Store

# truffle
.node-xmlhttprequest-*

# IDEs
.idea
.vscode

# hardhat
cache
artifacts
coverage
